.root {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.avatarWrapper {
  padding-left: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}